# Virtual environments
.venv/
venv/
renv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data
data/

# Results
results/

# Old script
stats_analysis_s1_complete.R

# OS files
.DS_Store
Thumbs.db
.Rproj.user
.Rhistory
.RData
